<!DOCTYPE html>
<html>
    <div class="about"  id="about">
        <div class="container">
            <h1 class="text-center">About Us</h1>
            <div class="row">
                <!--left side-->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="assets/images/EmissionTrack 5 (1).png" class="img-fluid">
                    <span class="text-justify">Revolutionizing tracking</span>
                </div>
                <!--right side-->
                <div class="col-lg-8 col-md-8 col-sm-12 desc">
                    <h3>Tracking Software</h3>
                    <p>
                        EmissionTrack is a consultancy specializing in emission data analysis and management, focusing on Scope 3 emissions and carbon footprinting.
                        Our mission is to help clients achieve sustainability and reduce their environmental impact.
                        We are dedicated to being a leading provider of emission data analysis and management services in South Africa and be recognized globally.
                    </p>
                    <br>
                    <p>
                         The lack of comprehensive tracking and reporting not only hinders transparency and operational efficiency but also undermines the global effort to mitigate climate change. Our emission tracking system incorporates cutting-edge technologies and platforms. Such as, </p>
                    <a routerLink="/signup" class="btn btn-outline-secondary" role="button">See more</a>
                </div>
            </div>
        </div>
    </div>

<!-- <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - EmissionTrack App - <a class="btn btn-outline-secondary btn-sm"  asp-area="" routerLink="/privacy" asp-action="Privacy">Privacy</a>
    </div>
</footer> -->

</html>
